body {
  background-color: rgb(253, 241, 222);
}

h1.page-header {
  margin-top: 2em;
  margin-bottom: 2.5em;
  color: rgb(63, 63, 63);
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  h1.page-header {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.9em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

div.row.card-container {
  margin-right: 11em;
  margin-left: 11em;
}

@media screen and (max-width: 450px) {
  div.row.card-container {
    margin-right: 1em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 450px) {
  div.container {
    padding-left: 0;
  }
}

div.col-4.cards-div {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

img.cards {
  width: auto;
  height: 150px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 450px) {
  img.cards {
    width: auto;
    height: 100px;
  }
}

@media screen and (max-width: 350px) {
  img.cards {
    width: auto;
    height: 80px;
  }
}

img.cards:hover {
  cursor: pointer;
}
